[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]

celery = "==4.2.1"
Flask-Login = "==0.4.1"
Flask-Script = "==2.0.6"
Flask-SocketIO = "==3.0.2"
Flask-SQLAlchemy = "==2.3.2"
Flask-WTF = "==0.14.2"
gunicorn = "==19.9.0"
psycopg2 = "==2.7.6.1"
redis = "==3.0.1"
twilio = "==6.20.0"

[requires]
python_version = "3.7"
